<%- include ("./partials/head.ejs") %>
<h1><%= title %></h1>
<h2><%= message %></h2>
<form id="directions-home-form" action="/" method="GET"></form>
<button type="submit" form="directions-home-form" class="index-button"><span>NEW ROUTE</span></button>
<%- include ("./partials/footer.ejs") %>