<%- include ("./partials/head.ejs") %>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<form id="location-form" action="directions" method="post">
    <label for="location">Location:</label>
    <input id="location-input" type="text" name="location" placeholder="Enter your location you want to travel from:"
           required pattern="\S(.*\S)?"><br><br>
</form>

<button class="index-button" type="submit" form="location-form"><span>GO</span></button>
<script type="text/javascript" src="/js/script-index.js"></script>
<%- include ("./partials/footer.ejs") %>
