<%- include ("./partials/head.ejs") %>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<form action="directions" method="get">
    <label for="location">Location:</label>
    <input type="text" id="location" name="location" placeholder="Enter your current location:"><br><br>
    <button type="submit"><span>GO</span></button>
</form>
<%- include ("./partials/footer.ejs") %>
